<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>chat.io Developer Docs</title>
  <link rel="stylesheet" href="/docs/css/app.css">
  <link rel="icon" href="/assets/images/favicon.png">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W9TN22J');</script>
  <!-- End Google Tag Manager -->
  <style type="text/css">
    .docs__toc__li a.active {
      color: {
          {
          .Params.color
        }
      }
    }
  </style>
</head>

<body class="{{ if .IsHome }}home{{ end }}">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9TN22J" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="Chatio">

    <main class="docs__wrapper">
      {{ if not .IsHome }}
      <aside class="docs__sidebar">
        <div class="docs__logo">
          <div class="docs__logo__home" style="background-color: {{ .Params.color }}">
            <a href="https://www.chat.io/platform/">
              <img src="/docs/assets/images/home.svg" alt="chat.io" height="17">
            </a>
            <img src="/docs/assets/images/breadcrumb.svg" alt=">" height="17" class="breadcrumb">
            <a href="/docs/">docs</a>
            <img src="/docs/assets/images/breadcrumb.svg" alt=">" height="17" class="breadcrumb">
            </a>
          </div>
          <div class="docs__logo__title" style="background-color: {{ .Params.color }}">
            {{.Title}}
          </div>
          
        {{ $currentPage := . }}

        {{ if (eq $currentPage.Title "Agent API") }}
          {{ $menuName := "agent_api" }}
          <div class="version">
            <label class="version__label" for="version">Version:</label>
            <select id="version" class="version__select" onchange="window.location.href=this.value">
              {{ range $index, $menu := $.Site.Menus.agent_api }}
                <option class="version__option" value="{{ .URL }}" {{if $currentPage.IsMenuCurrent $menuName . }} selected{{end}}>{{ .Identifier }}</option>
              {{ end }}
            </select>
          </div>
          
        {{ else if (eq $currentPage.Title "Customer API") }}
          {{ $menuName := "customer_api" }}
          <div class="version">
            <label class="version__label" for="version">Version:</label>
            <select id="version" class="version__select" onchange="window.location.href=this.value">
              {{ range $index, $menu := $.Site.Menus.customer_api }}
                <option class="version__option" value="{{ .URL }}" {{if $currentPage.IsMenuCurrent $menuName . }} selected{{end}}>{{ .Identifier }}</option>
              {{ end }}
            </select>
          </div>
        {{ end }}
        </div>

        <div class="docs__sidebar-nav">
          <nav class="docs__toc">
            <ul class="docs__toc__ul docs__toc__ul--l1">
              {{ range .Data.Pages }}
              <li class="docs__toc__li">
                {{ partial "table-of-contents" . }}
              </li>
              {{ end }}
            </ul>
            <div class="docs__toc__footer">Don't have your Developer Account yet?
              <a href="https://console.chat.io/" target="_blank">Get one!</a>
            </div>
          </nav>
        </div>
      </aside>
      {{ end }} {{ if not .IsHome }}
      <section class="docs__content">
        <article class="markdown-body">
          {{ block "main" . }} {{ end }}
        </article>
      </section>
      {{ else }}
      <section>
        <article>
          {{ block "main" . }} {{ end }}
        </article>
      </section>
      {{ end }}
    </main>


  </div>


  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <script src="/docs/js/app.js"></script>
</body>

</html>