$sidebarWidth: 260px;


.hide {
  display: none;
}

.home-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
}

.version {
  background-color: rgba(#364149, 0.1);
  // background-color: rgba(#fff, .1);
  // border-bottom: 1px solid rgba(#364149, .1);
  // border-top: 1px solid rgba(#364149, .1);
  padding: 10px 20px;
  &__label {
    font-size: 14px;
    margin: 0;
  }

  &__select {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 4px;
    margin: 0;
    background: none;
    border: none;
    outline: none;
  }
}

.subnav {
  background-color: rgba(#fff, .8);
  padding: 0 16px;

  &__link {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    // font-size: 14px;
    padding: 10px 4px 6px;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    &--active {
      border-bottom: 4px solid rgba(#364149, 1);
    }
  }
}

.docs {

  &__logo {
    &__home {
      color: rgba(#fff, 0.6);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.04em;
      padding: 50px 20px 0;

      img {
        opacity: 0.6;
        vertical-align: middle;
      }
    }

    &__title {
      padding: 0 20px 15px;
      font-family: "Roboto Slab", serif;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
    }

    a {
      color: inherit;
    }
  }

  &__wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__sidebar-nav {
    padding: 20px;
  }
  &__sidebar {
    display: none;

    @media #{$phone} {
      width: $sidebarWidth;
      display: block;
      left: auto;
      float: left;
      border-right: 1px solid rgba(0, 0, 0, 0.07);
      overflow-y: auto;
      height: 100vh;
      background-color: #ecf0f4;
      position: fixed;
    }
  }

  &__content {
    position: relative;
    padding-top: 10px;
    font-weight: normal;
    padding-bottom: 70vh;
    margin-left: 0;

    @media #{$phone} {
      width: calc(100% - $sidebarWidth);
      float: left;
      margin-left: $sidebarWidth + 50px;
    }

    @media #{$large-desktop} {
      width: calc(100% - 580px);
      //   padding-top: 70px;
    }

    > article {
      max-width: 800px;
      padding: 30px 15px 40px;
      position: relative;
    }
  }

  &__toc {
    &__ul {
      list-style-type: none;
      margin: 0;
      padding: 0 0 4px 10px;
      &--l1 {
        padding: 0;
      }
      &--l2 {
        border-top: 1px solid rgba(#364149, 0.1);
        padding-top: 5px;
        margin-bottom: 10px;
      }
      &--l1 > li > a {
      }
      &--l2 > li > a {
        padding: 2px 0;
        font-size: 0.9em;
        color: rgba(#364149, 0.9);
        &:before {
          content: " ";
          display: inline-block;
          // position: absolute;
          vertical-align: middle;
          margin-right: 5px;
          margin-bottom: 3px;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: rgba(#364149, 0.3);
          // left: -10px;
        }
      }
      &--l3 > li > a {
        padding: 2px 0;
        font-size: 0.9em;
        color: rgba(#364149, 0.85);
        position: relative;
        &:before {
          content: " ";
          display: inline-block;
          // position: absolute;
          vertical-align: middle;
          margin-right: 5px;
          margin-bottom: 3px;
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background-color: rgba(#364149, 0.3);
          // left: -10px;
        }
      }
    }

    &__li {
      //   border: 1px solid red;
      display: block;

      a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;  
        display: block;
        padding: 4px 0 2px;
        position: relative;
        transition: all 0.1s;
        color: #364149;

        &:hover {
          color: darken(#364149, 15%);
        }
      }

      a.active {
        color: $link-color;
      }
    }

    &__footer {
      margin-top: 2em;
      padding: 15px;
      font-size: 14px;
      text-align: center;
      background: rgba(#fff, 0.7);
    }
  }
}

.spacing {
  width: 100%;
  height: 30px;
}

.tile {
  &.is-parent {
    padding: 0 !important;
  }

  .subtitle {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 700;
    padding-left: 20px;
    margin-top: 30px;
    color: rgba(#364149,.9);
  }

  .content {
    padding: 30px;
    height: 100%;
    min-height: 240px;

    p {
      color: rgba(#fff, 0.7);
    }

    &--large {
      p {
        max-width: 400px;
      }

      h2 {
        // font-weight: 700;
      }

      padding: 50px;
      min-height: 350px;
    }

    &--zoomed {
      p {
        color: #364149;
        font-size: 1.1em;
        font-weight: 300;
      }

      h1 {
        font-weight: 300 !important;
        font-size: 2.5em;
      }

      padding: 50px;
      position: relative;
    }

    &--transparent {
      padding: 0 20px 20px;
      p {
        color: rgba(#364149, 0.7);
      }
    }
  }

  h3 {
    margin: 0 0 15px;
    // font-size: 20px;
  }

  .is-link {
    color: white;
    display: block;
    height: 100%;
    position: relative;
    top: 0;
    transition: top 0.1s ease-in-out !important;

    &:hover {
      top: -5px;
    }
  }
  .sep {
    width: 50px;
    display: block;
    height: 1px;
    background: #31374f;
    text-align: left;
    margin: 30px 0;
    border: 0;
  }
}
